In [1]:
import re
text= 'Python Exercises, PHP exercises.' #1
x=re.sub(r'[\s,.]',':',text)
x

'Python:Exercises::PHP:exercises:'

In [2]:
#2nd
import pandas as pd
Dictionary={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(Dictionary)
df['SUMMARY'].str.replace(r'[,!:;.XXXXX\d]','',regex=True)

0      hello world
1             test
2    four five six
Name: SUMMARY, dtype: object

In [3]:
#3rd 
string='APJ Abdul Kalam an Indian aerospace scientist also known as Missile Man of India'
x=re.compile(r'\w{4}')
match=x.findall(string)
match

['Abdu',
 'Kala',
 'Indi',
 'aero',
 'spac',
 'scie',
 'ntis',
 'also',
 'know',
 'Miss',
 'Indi']

In [4]:
#4th
string='APJ Abdul Kalam an Indian aerospace scientist also known as Missile Man of India'
y=re.compile(r'\w{3,5}')
match=y.findall(string)
match

['APJ',
 'Abdul',
 'Kalam',
 'India',
 'aeros',
 'pace',
 'scien',
 'tist',
 'also',
 'known',
 'Missi',
 'Man',
 'India']

In [91]:
#5th
string="example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"
for i in string:
    pattern=r'\s\('
    a=re.sub(pattern,'',i)
    print(a)

example.com)
hr@fliprobo.com)
github.com)
HelloData Science World)
DataScientist)

In [94]:
#6th
with open('6Ques.txt')as file:
    for i in file:
        pattern=r'\s\('
        a=re.sub(pattern,'',i)
        print(a)

example.com)", "hr@fliprobo.com)", "github.com)", "HelloData Science World)", "DataScientist)

In [100]:
#7th
text='ImportanceOfRegularExpressionsInPython'
i=re.findall(r'[A-Z][a-z]*',text)
i

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [113]:
#8th
string="RegularExpression1IsAn2ImportantTopic3InPython"
a=re.sub(r'(\d)([A-Za-z])',r' \1\2',string)
a

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

In [109]:
#9th
string="RegularExpression1IsAn2ImportantTopic3InPython"
a=re.sub(r'(\d)([A-Za-z])',r' \1 \2',string)
a

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

In [15]:
#10th
import pandas as pd
data=pd.read_csv("https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [29]:
six_letter=data['Country'].str.extract(r'(\w{6})',expand=False)

In [30]:
data['first_five_letters']=six_letter
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

In [46]:
#11th
string='AN Apple 1_day 23455keeps the Doctor away'
match=re.match(r'[A-Z]+',string)
print(match)
match1=re.match(r'\d+',string)
print(match1)

<re.Match object; span=(0, 2), match='AN'>
None

In [47]:
#12th
string='123abc is an alphanumeric number'
x=re.match(r'\d+',string)
x

In [63]:
#13th
string=['192.168.002.100','0xc0a80264','192.168.2.100','0120c0a80264']
for i in string:
    x=re.sub(r'^0','',i)
    print(x)

192.168.002.100
xc0a80264
192.168.2.100
120c0a80264

In [74]:
#14th
with open('14Ques.txt')as file:
    r=file.read()
    v=re.findall(r'\d+',r)
    print(v)

['15', '1947']

In [58]:
#15th
string='The quick brown fox jumps over the lazy dog.'
search=re.search('fox',string)
search1=re.search('dog',string)
search2=re.search('horse',string)
print(search.group())
print(search1.group())
print(search2)

fox
dog
None

In [60]:
#16th
string='The quick brown fox jumps over the lazy dog.'
search=re.search('fox',string)
search

In [78]:
#17th
text='Python exercises, PHP exercises, C# exercises'
Pattern='exercises'
# x=re.findall(Pattern,text)
# print(x)
for i in re.finditer(Pattern,text):
    print(i)

<re.Match object; span=(7, 16), match='exercises'>
<re.Match object; span=(22, 31), match='exercises'>
<re.Match object; span=(36, 45), match='exercises'>

In [72]:
#18th
text='Python exercises, PHP exercises, C# exercises'

In [7]:
#19th
import re
text='1998-08-16,2001-07-04,2020-10-11,1999-09-20,1994-10-04'
x=re.sub('(\d{4})-(\d{1,2})-(\d{1,2})','\3-\2-\1',text)
x

'\x03-\x02-\x01,\x03-\x02-\x01,\x03-\x02-\x01,\x03-\x02-\x01,\x03-\x02-\x01'

In [88]:
#20th
text= "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern=re.compile(r'\b\d{1,3}\.\d{1,2}\b')
x=re.findall(pattern,text)
x

['01.12', '145.8', '3.01', '27.25', '0.25']

In [89]:
#21

In [93]:
#22
text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
a=re.findall('\d+',text)
# for i in a:
x=max(a)
print(x)

950

In [5]:
#23
text="RegularExpressionIsAnImportantTopicInPython"
x=re.sub(r'(\w)([A-Z])',r'\1 \2',text)
x

'Regular Expression Is An Important Topic In Python'

In [15]:
#24
import re
text="Practice makes a man Perfect "
X=re.findall(r'[A-Z][a-z]+',text)
X

['Practice', 'Perfect']

In [16]:
#25

In [8]:
#26
text='Hi this45 is RAM123'
x=re.search(r'\w+\d+$',text)
x

In [18]:
#27
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
o=re.findall(r'\#\w+',text)
o

['#Doltiwal', '#xyzabc', '#Demonetization']

In [32]:
#28
text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
e=re.sub(r'<U\+\w+>','',text)
e

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

In [39]:
#29
with open("29Ques.txt") as file:
    for i in file:
        u=re.findall(r'\d{1,2}\-\d{1,2}\-\d{4}',i)
        print(u)

['12-09-1992', '15-12-1999']

In [37]:
#30
text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
c=re.sub(r'\b\w{2,4}\b','',text)
c

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'