In [1]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import requests
from selenium.webdriver.common.by import By

In [2]:
#2
driver=webdriver.Chrome()

In [3]:
driver.get('https://www.bcci.tv/. ')

In [4]:
button=driver.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
button.click()

In [5]:
Series=[]
series=driver.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]')
for i in series:
    Series.append(i.text)
print(Series)

['ENGLAND TOUR OF INDIA 2023-24', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024', 'INDIA TOUR OF ZIMBABWE 2024']

In [6]:
Place=[]
place=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]')
for i in place:
    Place.append(i.text)
print(Place)

['Himachal Pradesh Cricket Association Stadium, Dharamsala', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare', 'Harare Sports Club, Harare']

In [7]:
Date=[]
date=driver.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]')
for i in date:
    Date.append(i.text)
print(Date)

['7 MARCH, 2024', '6 JULY, 2024', '7 JULY, 2024', '10 JULY, 2024', '13 JULY, 2024', '14 JULY, 2024']

In [8]:
Time=[]
time=driver.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]')
for i in time:
    Time.append(i.text)
print(Time)

['9:30 AM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST', '8:00 PM IST']

In [9]:
df=pd.DataFrame({'Series':Series,'Place':Place,'Date':Date,'Time':Time})
df

,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,"Himachal Pradesh Cricket Association Stadium, ...","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,"Harare Sports Club, Harare","14 JULY, 2024",8:00 PM IST

In [22]:
#3
driver=webdriver.Chrome()

In [23]:
driver.get('http://statisticstimes.com/')

In [24]:
ec=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/button')
ec.click()

In [25]:
ind=driver.find_element(By.XPATH,'/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
ind.click()

In [28]:
ind_gdp=driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
ind_gdp.click()

In [31]:

E=driver.find_element(By.XPATH,'/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody')
print(E.text)

1 Maharashtra - 3,108,022 13.24% 417.163 - 2,027,971
2 Tamil Nadu 2,364,514 2,071,286 8.82% 278.011 1,453,321 1,343,287
3 Uttar Pradesh 2,257,575 1,974,532 8.41% 265.024 1,304,678 1,204,660
4 Karnataka 2,241,368 1,962,725 8.36% 263.440 1,326,319 1,229,713
5 Gujarat - 1,937,066 8.25% 259.996 - 1,372,204
6 West Bengal 1,554,992 1,363,926 5.81% 183.068 854,023 787,758
7 Rajasthan 1,413,620 1,218,193 5.19% 163.507 799,449 738,922
8 Madhya Pradesh 1,322,821 1,136,137 4.84% 152.494 643,124 600,689
9 Andhra Pradesh 1,317,728 1,133,837 4.83% 152.185 754,338 704,889
10 Telangana 1,313,391 1,128,907 4.81% 151.523 726,707 674,371
11 Kerala - 932,470 3.97% 125.157 - 572,747
12 Delhi 1,043,759 904,642 3.85% 121.422 652,649 597,765
13 Haryana 994,154 870,665 3.71% 116.862 608,420 568,086
14 Odisha 774,869 670,881 2.86% 90.047 463,859 432,960
15 Bihar 751,396 650,302 2.77% 87.284 442,473 399,930
16 Punjab 673,107 614,227 2.62% 82.442 461,539 433,769
17 Assam 493,167 412,612 1.76% 55.381 289,192 262,523
18 Chhattisgarh 457,608 406,416 1.73% 54.550 289,082 267,681
19 Jharkhand 393,722 358,863 1.53% 48.167 259,800 243,348
20 Uttarakhand 302,621 272,159 1.16% 36.530 207,104 193,412
21 Jammu & Kashmir-UT 227,927 199,917 0.85% 26.833 134,716 124,728
22 Himachal Pradesh 195,405 176,269 0.75% 23.659 134,576 126,433
23 Goa - 82,604 0.35% 11.087 - 55,548
24 Tripura 72,636 62,550 0.27% 8.396 42,997 39,487
25 Chandigarh - 45,635 0.19% 6.125 - 30,287
26 Puducherry - 44,238 0.19% 5.938 - 27,834
27 Meghalaya 42,697 38,785 0.17% 5.206 25,209 24,267
28 Sikkim 42,756 37,557 0.16% 5.041 22,144 20,728
29 Manipur - 36,594 0.16% 4.912 - 20,515
30 Arunachal Pradesh - 35,124 0.15% 4.714 - 19,801
31 Nagaland - 31,913 0.14% 4.283 - 18,363
32 Mizoram - 27,824 0.12% 3.735 - 18,494
33 Andaman & Nicobar Islands - 10,371 0.04% 1.392 - 7,172

In [38]:
#5
driver=webdriver.Chrome()

In [39]:
driver.get('https:/www.billboard.com/')

In [40]:
icon=driver.find_element(By.XPATH,'/html/body/div[3]/header/div/div[4]/div/div[1]/div[1]/button')
icon.click()

In [41]:
chart=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
chart.click()

In [42]:
view=driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[3]/a')
view.click()

In [43]:
Row=[]
row=driver.find_elements(By.XPATH,'//ul[@class="lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"]')
for i in row:
    Row.append(i.text)
print(Row)

["Texas Hold 'Em\nBeyonce\n2\n1\n2", 'Lovin On Me\nJack Harlow\n1\n1\n15', 'Lose Control\nTeddy Swims\n5\n2\n28', 'Carnival\n¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti\n3\n3\n2', 'Beautiful Things\nBenson Boone\n4\n3\n5', 'Snooze\nSZA\n7\n2\n62', 'Cruel Summer\nTaylor Swift\n6\n1\n42', 'Greedy\nTate McRae\n9\n3\n23', 'I Remember Everything\nZach Bryan Featuring Kacey Musgraves\n8\n1\n26', 'Agora Hills\nDoja Cat\n12\n7\n22', 'Yes, And?\nAriana Grande\n31\n1\n6', 'Stick Season\nNoah Kahan\n10\n10\n21', 'Fast Car\nLuke Combs\n11\n2\n48', 'Water\nTyla\n13\n7\n21', 'Last Night\nMorgan Wallen\n14\n1\n56', 'Redrum\n21 Savage\n15\n5\n6', "Thinkin' Bout Me\nMorgan Wallen\n16\n7\n51", "Is It Over Now? (Taylor's Version) [From The Vault]\nTaylor Swift\n18\n1\n17", 'Pretty Little Poison\nWarren Zeiders\n24\n19\n24', 'Flowers\nMiley Cyrus\n17\n1\n53', 'Paint The Town Red\nDoja Cat\n19\n1\n29', 'Houdini\nDua Lipa\n25\n11\n15', 'Made For Me\nMuni Long\n32\n23\n6', 'Never Lose Me\nFlo Milli\n21\n18\n10', 'La Diabla\nXavi\n22\n20\n10', 'Where The Wild Things Are\nLuke Combs\n29\n26\n14', 'Training Season\nDua Lipa\n-\n27\n1', 'The Painter\nCody Johnson\n35\n28\n20', 'Feather\nSabrina Carpenter\n42\n29\n12', 'What Was I Made For?\nBillie Eilish\n27\n14\n31', 'Rich Baby Daddy\nDrake Featuring Sexyy Red & SZA\n41\n11\n20', 'Whatever She Wants\nBryson Tiller\n-\n32\n1', 'Truck Bed\nHARDY\n51\n33\n36', 'Selfish\nJustin Timberlake\n37\n19\n4', 'Everybody\nNicki Minaj Featuring Lil Uzi Vert\n40\n24\n11', 'Vampire\nOlivia Rodrigo\n43\n1\n31', 'Wild Ones\nJessie Murph & Jelly Roll\n45\n35\n20', 'On My Mama\nVictoria Monet\n44\n33\n23', 'Praise Jah In The Moonlight\nYG Marley\n63\n39\n4', 'Save Me\nJelly Roll With Lainey Wilson\n47\n19\n33', 'Exes\nTate McRae\n49\n34\n14', 'Breathe\nYeat\n-\n42\n1', 'Dance The Night\nDua Lipa\n46\n6\n34', 'Need A Favor\nJelly Roll\n50\n13\n45', 'Surround Sound\nJID Featuring 21 Savage & Baby Tate\n54\n40\n15', 'World On Fire\nNate Smith\n56\n21\n17', 'Yeah!\nUsher Featuring Lil Jon & Ludacris\n20\n1\n47', 'Burn It Down\nParker McCollum\n60\n48\n18', 'Good Good\nUsher, Summer Walker & 21 Savage\n36\n25\n28', 'La Victima\nXavi\n58\n46\n10', 'End Of Beginning\nDjo\n-\n51\n1', 'Get In With Me\nBossMan Dlow\n59\n52\n3', 'Burn\n¥$: Kanye West & Ty Dolla $ign\n33\n33\n2', 'Man Made A Bar\nMorgan Wallen Featuring Eric Church\n66\n15\n22', '16 Carriages\nBeyonce\n38\n38\n2', 'First Person Shooter\nDrake Featuring J. Cole\n57\n1\n20', 'Fuk Sumn\n¥$: Kanye West & Ty Dolla $ign\n23\n23\n2', 'One Of The Girls\nThe Weeknd, Jennie & Lily Rose Depp\n72\n57\n9', 'Back To Me\n¥$: Kanye West & Ty Dolla $ign\n26\n26\n2', 'One Call\nRich Amiri\n68\n60\n4', 'Contigo\nKarol G & Tiesto\n-\n61\n1', '23\nChayce Beckham\n77\n62\n8', 'Murder On The Dancefloor\nSophie Ellis-Bextor\n73\n51\n8', 'You Broke My Heart\nDrake\n74\n11\n14', 'Think U The Shit (Fart)\nIce Spice\n62\n37\n4', 'FTCU\nNicki Minaj\n71\n15\n11', 'FE!N\nTravis Scott Featuring Playboi Carti\n76\n5\n17', 'Hiss\nMegan Thee Stallion\n48\n1\n4', 'I Can Feel It\nKane Brown\n82\n59\n8', 'Bandit\nDon Toliver\n78\n38\n3', 'Spin You Around (1/24)\nMorgan Wallen\n70\n24\n4', 'Soak City\n310babii\n84\n61\n10', 'Forever\nNoah Kahan\n28\n28\n2', "Mamaw's House\nThomas Rhett Featuring Morgan Wallen\n83\n55\n8", 'Act II: Date @ 8\n4Batz\n81\n59\n7', 'Igual Que Un Angel\nKali Uchis & Peso Pluma\n69\n22\n6', 'Nee-nah\n21 Savage, Travis Scott & Metro Boomin\n80\n10\n6', 'Wildflowers And Wild Horses\nLainey Wilson\n-\n78\n4', 'Bellakeo\nPeso Pluma & Anitta\n87\n53\n10', 'Harley Quinn\nFuerza Regida & Marshmello\n85\n40\n16', 'Standing Next To You\nJung Kook\n61\n5\n16', 'Bittersweet\nGunna\n-\n82\n1', 'IDGAF\nDrake Featuring Yeat\n88\n2\n20', 'Home\nGood Neighbours\n-\n77\n3', 'Vultures\n¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J\n34\n34\n2', 'Yeah Glo!\nGloRilla\n89\n86\n2', 'Coal\nDylan Gossett\n95\n86\n7', 'Mmhmm\nBigXthaPlug\n96\n65\n9', 'Psycho CEO\nYeat\n-\n89\n1', 'Perro Negro\nBad Bunny & Feid\n99\n20\n16', 'Sensational\nChris Brown Featuring Davido & Lojay\n-\n91\n3', 'Oklahoma Smokeshow\nZach Bryan\n-\n72\n17', 'Tu Name\nFuerza Regida\n-\n93\n1', 'Do It\n¥$: Kanye West & Ty Dolla $ign\n52\n52\n2', 'Worth It\nOffset & Don Toliver\n-\n92\n5', 'Talking\n¥$: Kanye West & Ty Dolla $ign Featuring North West\n30\n30\n2', 'Monaco\nBad Bunny\n97\n5\n19', 'Where It Ends\nBailey Zimmerman\n-\n32\n8', 'Wondering Why\nThe Red Clay Strays\n-\n71\n8', 'Northern Attitude\nNoah Kahan With Hozier\n75\n37\n12']

In [46]:
data=[]
for i in Row:
    Sn,An,Lr,Pr,wob=i.split('\n')
    data.append([Sn,An,Lr,Pr,wob])
df=pd.DataFrame(data,columns=['Song','Artist','Last week Rank','Peak Rank','Weeks on board'])
print(df)

                 Song                                             Artist  \
0      Texas Hold 'Em                                            Beyonce
1         Lovin On Me                                        Jack Harlow
2        Lose Control                                        Teddy Swims
3            Carnival  ¥$: Kanye West & Ty Dolla $ign Featuring Rich ...
4    Beautiful Things                                       Benson Boone
..                ...                                                ...
95            Talking  ¥$: Kanye West & Ty Dolla $ign Featuring North...
96             Monaco                                          Bad Bunny
97      Where It Ends                                   Bailey Zimmerman
98      Wondering Why                                The Red Clay Strays
99  Northern Attitude                             Noah Kahan With Hozier

   Last week Rank Peak Rank Weeks on board
0               2         1              2
1               1         1             15
2               5         2             28
3               3         3              2
4               4         3              5
..            ...       ...            ...
95             30        30              2
96             97         5             19
97              -        32              8
98              -        71              8
99             75        37             12

[100 rows x 5 columns]

In [53]:
#8
driver=webdriver.Chrome()

In [54]:
driver.get('https://archive.ics.uci.edu/')

In [55]:
view=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
view.click()

In [59]:
dataset_name=[]
data=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in data:
    dataset_name.append(i.text)
print(dataset_name)

['Iris', 'Dry Bean Dataset', 'Heart Disease', 'Rice (Cammeo and Osmancik)', 'Adult', 'Raisin', 'Breast Cancer Wisconsin (Diagnostic)', 'Wine', 'Wine Quality', 'Diabetes']

In [58]:
data_url=[]
url=driver.find_elements(By.XPATH,'//a[@class="link-hover link text-xl font-semibold"]')
for i in url:
    data_url.append(i.get_attribute('href'))
print(data_url)

['https://archive.ics.uci.edu/dataset/53/iris', 'https://archive.ics.uci.edu/dataset/602/dry+bean+dataset', 'https://archive.ics.uci.edu/dataset/45/heart+disease', 'https://archive.ics.uci.edu/dataset/545/rice+cammeo+and+osmancik', 'https://archive.ics.uci.edu/dataset/2/adult', 'https://archive.ics.uci.edu/dataset/850/raisin', 'https://archive.ics.uci.edu/dataset/17/breast+cancer+wisconsin+diagnostic', 'https://archive.ics.uci.edu/dataset/109/wine', 'https://archive.ics.uci.edu/dataset/186/wine+quality', 'https://archive.ics.uci.edu/dataset/34/diabetes']

In [62]:
data_type=[]
task=[]
attribute_type=[]
instance=[]
attribute=[]
year=[]

In [63]:
for url in data_url:
    driver.get(url)
#     time.sleep(2)
    try:
        Data=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[1]/p')
        data_type.append(Data.text)
    except NoSuchElementException:
        data_type.append('-')
    try:
        Task=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[3]/p')
        task.append(Task.text)
    except NoSuchElementException:
        task.append('-')
    try:
        Atti=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[4]/p')
        attribute_type.append(Atti.text)
    except NoSuchElementException:
        Atti.append('-')
    try:
        ins=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[5]/p')
        instance.append(ins.text)
    except NoSuchElementException:
        instance.append('-')
    try:
        attri=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[2]/div[2]/div[6]/p')
        attribute.append(attri.text)
    except NoSuchElementException:
        attribute.append('-')
    try:
        Year=driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div[1]/div[1]/div[2]/h2')
        year.append(Year.text)
    except NoSuchElementException:
        year.append('-')

In [64]:
print(data_type)

['Tabular', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Multivariate', 'Tabular', 'Multivariate', 'Multivariate, Time-Series']

In [65]:
df=pd.DataFrame({'Dataset Name':dataset_name,'Data Type':data_type,'Task':task,'Attribute Type':attribute_type,'No of Instance':instance,'No of Attribute':attribute,'Year':year})
df

,Dataset Name,Data Type,Task,Attribute Type,No of Instance,No of Attribute,Year
0,Iris,Tabular,Classification,Real,150,4,Donated on 6/30/1988
1,Dry Bean Dataset,Multivariate,Classification,"Integer, Real",13611,16,Donated on 9/13/2020
2,Heart Disease,Multivariate,Classification,"Categorical, Integer, Real",303,13,Donated on 6/30/1988
3,Rice (Cammeo and Osmancik),Multivariate,Classification,Real,3810,7,Donated on 10/5/2019
4,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,Donated on 4/30/1996
5,Raisin,Multivariate,Classification,"Real, Integer",900,7,Donated on 8/13/2023
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,30,Donated on 10/31/1995
7,Wine,Tabular,Classification,"Integer, Real",178,13,Donated on 6/30/1991
8,Wine Quality,Multivariate,"Classification, Regression",Real,4898,11,Donated on 10/6/2009
9,Diabetes,"Multivariate, Time-Series",Classification,"Categorical, Integer",1,20,-

In [66]:
#6
driver=webdriver.Chrome()

In [67]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [77]:
# data=driver.find_element(By.XPATH,'/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody')
# data.text

In [73]:
#7
driver=webdriver.Chrome()

In [74]:
driver.get('https://www.imdb.com/list/ls512407256/')

In [79]:
year=[]
span=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')
for i in span:
    year.append(i.text)
print(year[0:9])

['(2011–2019)', '(2016–2025)', '(2010–2022)', '(2017–2020)', '(2014–2020)', '(2013–2019)', '(2017–2023)', '(2005– )', '(2014–2023)']

In [80]:
genre=[]
G=driver.find_elements(By.XPATH,'//span[@class="genre"]')
for i in G:
    genre.append(i.text)
print(genre[0:9])

['Action, Adventure, Drama', 'Drama, Fantasy, Horror', 'Drama, Horror, Thriller', 'Drama, Mystery, Thriller', 'Drama, Mystery, Sci-Fi', 'Comedy, Crime, Drama', 'Crime, Drama, Mystery', 'Drama, Romance', 'Action, Adventure, Drama']

In [81]:
Time=[]
run=driver.find_elements(By.XPATH,'//span[@class="runtime"]')
for i in run:
    Time.append(i.text)
print(Time)

['55 min', '51 min', '44 min', '60 min', '43 min', '59 min', '45 min', '41 min', '43 min', '42 min', '70 min', '22 min', '60 min', '88 min', '44 min', '44 min', '43 min', '60 min', '45 min', '4,393 min', '44 min', '44 min', '43 min', '41 min', '22 min', '60 min', '49 min', '54 min', '5,280 min', '4,576 min', '44 min', '49 min', '45 min', '43 min', '42 min', '60 min', '42 min', '62 min', '56 min', '5,378 min', '23 min', '42 min', '25 min', '3,804 min', '1,455 min', '60 min', '1,755 min', '46 min', '22 min', '45 min', '55 min', '45 min', '51 min', '55 min', '44 min', '44 min', '60 min', '22 min', '43 min', '43 min', '59 min', '5,445 min', '45 min', '2,109 min', '41 min', '7,788 min', '43 min', '42 min', '42 min', '44 min', '70 min', '55 min', '22 min', '42 min', '60 min', '42 min', '88 min', '60 min', '44 min', '60 min', '44 min', '41 min', '43 min', '60 min', '60 min', '44 min', '45 min', '22 min', '4,393 min', '22 min', '44 min', '43 min', '44 min', '60 min', '43 min', '55 min', '41 min', '60 min', '22 min', '45 min']

In [82]:
ratings=[]
r=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')
for i in r:
    ratings.append(i.text)
print(ratings[0:9])

['9.2', '8.7', '8.1', '7.5', '7.6', '8', '6.5', '7.6', '7.5']