In [7]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\evang\new folder\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\evang\new folder\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\evang\new folder\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\evang\new folder\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\evang\new folder\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\evang\new folder\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: exceptiongroup in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\evang\new folder\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\evang\new folder\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\evang\new folder\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\evang\new folder\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\evang\new folder\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [8]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [9]:
driver=webdriver.Chrome()

In [10]:
driver.get("https://www.shine.com/")

In [17]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Analyst')

In [18]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [19]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [20]:
job_title=[]
job_location=[]
company_name=[]
Exp_req=[]

title_tags=driver.find_elements(By.XPATH,"//h2[@itemprop='name']/a")
for i in title_tags:
    job_title.append(i.text)

In [21]:
loc=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in loc:
    job_location.append(i.text)

In [22]:
comp=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']/span")
for i in comp:
    company_name.append(i.text)

In [23]:
exp=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in exp:
    Exp_req.append(i.text)

In [24]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':Exp_req})
df[0:10]

,Title,Location,Company,Experience
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Management,Bangalore\n+18,future solution centre,15 to >25 Yrs
5,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
9,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs

In [25]:
driver=webdriver.Chrome()

In [26]:
driver.get("https://www.shine.com/")

In [27]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [28]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [29]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [30]:
job_title=[]
job_location=[]
company_name=[]
Exp_req=[]

title_tags=driver.find_elements(By.XPATH,"//h2[@itemprop='name']/a")
for i in title_tags:
    job_title.append(i.text)

In [31]:
loc=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in loc:
    job_location.append(i.text)

In [32]:
comp=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']/span")
for i in comp:
    company_name.append(i.text)

In [33]:
exp=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in exp:
    Exp_req.append(i.text)

In [34]:
import pandas as pd
df=pd.DataFrame({'Title':job_title,'Location':job_location,'Company':company_name,'Experience':Exp_req})
df[0:10]

,Title,Location,Company,Experience
0,ML Data Scientist,Bangalore\n+3,gujarat facility services hiring fo...,5 to 8 Yrs
1,Data Scientist Urgent Vacancy,Bangalore\n+15,renuka interprises,0 to 4 Yrs
2,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
3,Data Scientist Recruitment,Bangalore\n+15,renuka interprises,0 to 4 Yrs
4,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
5,Data Scientist,Bangalore,ltimindtree limited,6 to 8 Yrs
6,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal,5 to 9 Yrs
7,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
8,Senior Data Scientist,Bangalore\n+1,neostats,7 to 11 Yrs
9,Lead Data Scientist,Bangalore\n+1,aereo,7 to 10 Yrs

In [89]:
driver=webdriver.Chrome()

In [108]:
driver.get("https://www.shine.com/")

In [92]:
designation=driver.find_element(By.XPATH,'/html/body/div/div[5]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation.send_keys('Data Scientist')

In [94]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [95]:
fil_loc=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button")
fil_loc.click()

In [96]:
se_loc=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[1]/input")
se_loc.send_keys('Delhi')

In [97]:
sel_loc=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label")
sel_loc.click()

In [98]:
sal=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/ul/li[3]")
sal.click()

In [99]:
sel_sal=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
sel_sal.click()

In [100]:
show=driver.find_element(By.XPATH,"/html/body/div[3]/div/div/div/div[4]/button[2]")
show.click()

In [103]:
job_title=[]
job_loc=[]
comp_name=[]
Exp_req=[]

title_tag=driver.find_elements(By.XPATH,"//h2[@itemprop='name']")
for i in title_tag:
    job_title.append(i.text)
    
loc=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2']")
for i in loc:
    job_loc.append(i.text)
    
comp=driver.find_elements(By.XPATH,"//div[@class='jobCard_jobCard_cName__mYnow']/span")
for i in comp:
    comp_name.append(i.text)

exp=driver.find_elements(By.XPATH,"//div[@class=' jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t']")
for i in exp:
    Exp_req.append(i.text)

In [105]:
print(len(job_title),len(job_loc),len(comp_name),len(Exp_req))

34 34 34 34

In [107]:
df=pd.DataFrame({"TITLE":job_title,"LOCATION":job_loc,"COMPANY":comp_name,"EXPERIENCE":Exp_req})
df[0:10]

,TITLE,LOCATION,COMPANY,EXPERIENCE
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Hiring candidates for Marketing with Fare & Da...,Delhi\n+2,sharda it services,2 to 5 Yrs
2,Hiring for Fare & Data Analyst-Travel process,Delhi\n+2,sharda it services,1 to 6 Yrs
3,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical SAS,Delhi\n+8,techno endura,0 to 2 Yrs
5,Apprentice Trainee,Delhi\n+9,mahima consultancy,0 Yrs
6,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
7,Bioanalytical Research,Delhi\n+6,techno endura,0 to 1 Yr
8,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
9,Clinical SAS,Delhi\n+8,techno endura,0 to 2 Yrs